.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.navItem {
  color: white;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  transition: 300ms;
  cursor: pointer;
}

@media (min-width: 900px) {
  .navItem {
    font-size: 23px;
  }
  .nav {
    gap: 30px;
  }
}

.navItem:hover {
  opacity: 0.7;
}

.navItem-active {
  color: #a4a4a4;
}
