.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid {
  display: grid;
  margin: auto;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.gridNav {
  max-width: 1080px;
}
.gridContent {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
}

.contentFlex {
  margin: auto;
  align-items: center;
  gap: 150px;
}
.contentFlexx {
  width: 70%;
  margin: auto;

  align-items: center;

  gap: 150px;
}

.contentText {
}

.contentMedia {
  width: 0.1%;
  position: relative;
}

.media img {
  height: 250px;
  padding-right: 20px;
  visibility: hidden;
  width: 0%;
}

@media (min-width: 1340px) {
  .media img {
    width: initial;
    visibility: initial;
    height: 280px;
    padding-right: 20px;
    direction: initial;
  }
}
@media (min-width: 1430px) {
  .media img {
    height: 350px;
  }
}
@media (max-width: 900px) {
  .contentMedia {
    width: 100%;
  }
  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .media img {
    visibility: visible;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
  }
}
.title {
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 55px;
  padding-top: 40px;
}
.description {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter";
  color: #d1d1d1;
  margin-top: 18px;
}

.features {
  margin-top: 60px;
}

.featureText {
  font-size: 17px;
  font-weight: 200;
  font-family: "Inter";
  color: #d1d1d1;
  padding-top: 13px;
}

.featureWrapper {
  padding-top: 0px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 40px;
}

.githubButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.githubButton img {
  height: 28px;
  width: 28px;
}

@media (min-width: 900px) {
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .grid {
    padding-left: 30px;
    padding-right: 0px;
  }

  .contentFlex {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 150px;
  }

  .contentFlexx {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;

    gap: 150px;
  }

  .title {
    font-size: 100px;
    line-height: 103px;
    padding-top: 0;
  }
  .description {
    font-size: 23px;
  }
  .featureText {
    font-size: 20px;
    padding-top: 0px;
    min-width: 270px;
  }
  .featureWrapper {
    display: flex;
    gap: 55px;
    padding-top: 20px;
  }
  .buttonWrapper {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    gap: 14px;
    margin-top: 40px;
  }
}
